<!-- Copy the header to application.html.erb, then remove it from this file -->
<!-- The header starts here -->

<!-- The header ends here -->

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.content %>
      </div>
    <% end %>
  </div>
</div>
