<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <!-- Display the @post's content -->
        <%= @post.content %>
      </p>
      <!-- Paste the HTML here -->
      <div class="post-time">
        <!-- Display the @post's created_at -->
        <%= @post.created_at %>
      </div>
    </div>
  </div>
</div>
